<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>JEN Stack Example</title>
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="scripts/genericScript.js" charset="utf-8"></script>
</head>

<body>
    <h1 class="text-center">JEN Stack Example</h1>
    <div class="container">
        <form class="">
            <div class="form-group">
                <label for="eventName">Event Name:</label>
                <input type="text" id="eventName" class="form-control">
            </div>
            <div class="form-group">
                <label for="athleteName">Athlete Name:</label>
                <input type="text" id="athleteName" class="form-control">
            </div>
            <div class="form-group">
                <label for="award">Award:</label>
                <input type="text" id="award" class="form-control">
            </div>
            <button id="testGetButton" class="btn btn-default" type="button">testGet</button>
            <button id="testPostButton" class="btn btn-default" type="button">testPost</button>
        </form>
        <div id="getOutput"></div>
        <div id="eventsOutput"></div>
    </div>

</body>

</html>
